{% extends "layout/default.html" %}

{% block content %}
<br>
<br>
<h2>
   Страница авторизованного пользователя {{request.user.username}}
</h2>

<div>
   Здесь может содержаться персональная информация для каждого пользователя
</div>
<br>


<a class="btn btn-primary mb-2 mr-4" href="{% url 'account_logout' %}">Выйти</a>

{% if is_not_author %}
<a class="btn btn-info" href="{% url 'profile:upgrade' %}">
   ХОЧУ СТАТЬ АВТОРОМ!
</a>
{%else%}

<h3 class="mx-4"style="display:inline;">
   Вы состоите в группе <span style="text-transform: uppercase;"><strong>АВТОРОВ</strong></span>
</h3>
{% endif %}
<br>
<br>
<h4> Категории на которые вы подписаны:</h4>
{%for i in category%}
<a href="{% url 'news:category_detail' i.id %}" class='btn btn-success'>{{i}}</a>
{%endfor%}



{% endblock content %}