{% extends 'layout/default.html' %}

{%block title%} Home! {%endblock title%}

{%block content%}
<br>
<div class="text-center">
   <h1>Страница HOME</h1>


   <i>
      <p>ВРЕМЕННЫЙ ШАБЛОН, ПОТОМ ПЕРЕРАБОТАЮ</p>
      <p>НАВОДИТЬ КРАСОТУ БУДУ В КОНЦЕ</p>
      <br>
      <p>Зарегистрированый пользователь</p>
      <p>login: gosha@mail.ru password:oshan123</p>
   </i>
   <br>
   <!-- <a href="/admin"><button id="btn-admin" style="
   font-size: 25px;
   background-color: aliceblue;">ADMIN</button></a>
   <br>
   <br>
   <a href="/news"><button id="btn-admin" style="
   font-size: 25px;
   background-color: aliceblue; ">НОВОСТИ</button></a> -->
</div>
{%endblock content%}