{% extends 'layout/default.html' %}

{%block title%} Home! {%endblock title%}

{%block content%}
<br>
<div class="text-center">
   <h1>Страница HOME</h1>
   </i>
   <i>
      <p>ВРЕМЕННЫЙ ШАБЛОН, ПОТОМ ПЕРЕРАБОТАЮ</p>
   </i>
   <br>
   <a href="/admin"><button id="btn-admin" style="
   font-size: 25px;
   background-color: aliceblue;">ADMIN</button></a>
   <br>
   <br>
   <a href="/posts"><button id="btn-admin" style="
   font-size: 25px;
   background-color: aliceblue; ">НОВОСТИ</button></a>
</div>
{%endblock content%}